## 字段（field）

### 计算字段

计算字段用来从数据库中检索出转换、计算或格式化过后的数据。
字段（field）基本上和列（column）意思相同，经常互换使用。
不过数据库列一般称为列，而字段这个术语通常在计算字段这种场合下使用。
对于客户端来说，计算字段和数据库列的数据返回方式相同。

### 拼接字段

#### 拼接（concatenate）

将值联结到一起构成单个值。

根据 DBMS 不同，可以使用 “+” 或 “||” 或函数。示例：

In [ ]:
SELECT A + '(' + B + ')'
FROM table
//
SELECT A || '(' || B || ')'
FROM table
//
SELECT Concat(A, '(', B, ')')
FROM table

### RTRIM

许多数据库用空格保存填充为列宽的文本值，如果希望去掉这些空格可以使用 RTRIM() 函数。

RTRIM() 函数将去掉值右边所有的空格，如果希望取消左边的空格则使用 LTRIM()，
TRIM() 则将同时去掉左右两边的空格。

用法示例：

In [ ]:
SELECT RTRIM(A) + '(' + RTRIM(B) + ')'

### 别名

构造出来的字段本身是没有字段名的，可以使用 AS 为创建的字段命名。客户端可以按别名引用这个列。

In [ ]:
SELECT RTRIM(A) + '(' + RTRIM(B) + ')'
AS new_columnname

### 算数计算

SQL 可以进行的算数计算包括加减乘除。

示例用法：

In [ ]:
SELECT A * B AS atimesb
FROM table